frontend/node_modules/**
.idea/**
.env
.DS_Store

# Gradle Files #
################
.gradle
*/.gradle
.m2
*/.m2
*/bin

# .idea files #
##############
*/.idea/workspace.xml

# Build output directies
/target
*/target
/build
*/build

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
