<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=0.8" /> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="static/style.css" rel="stylesheet" type="text/css"/>
  <head>
    <meta charset="UTF-8">
    <title>Dr & Mr Web Client</title>
    <meta property="og:title" content="Dr. Uptime and Mr. Downtime">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="Monitor your application uptime!">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
  </head>
  <body>
    <div class="titlebar">
      <a href="https://github.com/danielclark00/DrUptimeMrDowntime">
        <i class="fa-brands fa-github"></i> GitHub </a>
    </div>
    <div class="jumbotron">
      <p align="center">
        <a>
          <img src="static/icon.png" width="400" height="400" />
        </a>
      </p>
      <hr>
    <p align="center">
      <a href="/login">
        <button class="blueButton"><i class="fa-solid fa-door-open"></i> <b>Login</b></button>
      </a>
    </p>
    </div>
    <p class="text-center text-muted">
      <small>This project was built for a group challenge.</small>
      <br>
    <p class="text-center text-muted">
      <small>The front end is licensed under AGPL-3.</small>
      <br>
  </body>
</html>
