
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=0.8" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
    <head>
        <meta charset="UTF-8">
        <title>Dr & Mr Web Client</title>
        <meta property="og:title" content="Dr. Uptime and Mr. Downtime">
        <meta property="og:site_name" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="Monitor your application uptime!">
        <meta property="og:type" content="article">
        <meta property="og:image" content="">
      </head>
    <body>
      <div class="titlebar">
        <a href="/logout">
            <i class="fa-solid fa-arrow-left-long"></i>&nbsp;&nbsp;Logout&nbsp;</a>
      </div>
      <div class="jumbotron">
        <p align="center">
        </p>
        <h1 align="center">New Application</h1>
        <div align="center">
          <hr>
          <h3>Hello, <%= name %>!<br>Please provide information below to monitor an application.</h3>
          <form method="post" action="/postnewapp">
            <p>
              <label for="title">Name:</label><br>
              <input type="text" name="name" id="name">
            </p>
            <p>
                <label for="title">Description:</label><br>
                <input type="text" name="description" id="description">
            </p>
            <p>
              <label for="url">URL:</label><br>
              <input type="text" name="url" id="url">
            </p>
            <p>
              <input class="blueButton" type="submit" value="Create Application">
            </p>
          </form>
        </div>
        <div class="jumbotron"></div>
        <p class="text-center text-muted">
            <small>This project was built for BloomTech's group challenge.</small>
            <br>
          <p class="text-center text-muted">
            <small>The front end is licensed under AGPL-3.</small>
            <br>
          <p align="right">
          </p>
    </body>
  <style>
    .blueButton {
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
    .titlebar {
      overflow: hidden;
      background-color: #333;
    }
    .titlebar a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 24px;
    }

    .button-container {
      width: 100%;
      overflow-y: auto;
    }
  </style>
  </html>