
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=0.8" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <head>
        <meta charset="UTF-8">
        <title>Dr & Mr Web Client</title>
        <meta property="og:title" content="Dr. Uptime and Mr. Downtime">
        <meta property="og:site_name" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="Monitor your application uptime!">
        <meta property="og:type" content="article">
        <meta property="og:image" content="">
      </head>
    <body>
      <div class="titlebar">
        <a href="/">
          <i class="fa-solid fa-arrow-left-long"></i> Back </a>
      </div>
      <div class="jumbotron">
        <p align="center">
        </p>
        <h1 align="center"><%= name %> </h1>
        <div align="center">
          <hr>
          <h4><%= desc %> </h4>
        </div>
        <div class="jumbotron"></div>
        <p class="text-center text-muted">
            <small>This project was built for BloomTech's group challenge.</small>
            <br>
          <p class="text-center text-muted">
            <small>The front end is licensed under AGPL-3.</small>
            <br>
          <p align="right">
          </p>
    </body>
    <!-- Due to how this page is loaded, the stylesheet is not applied unless it's taken from here. -->
    <style>
      .titlebar {
        overflow: hidden;
        background-color: #333;
      }
  
      .titlebar a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 24px;
      }
    </style>
  </html>